*, *:before, *:after {
 box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img,
b, ol, ul, li, table, tbody, tfoot, thead, tr, th, td,
figure, footer, header, nav, section {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

figure, footer, header, nav, section {
 display: block;
}

html, body {
 box-sizing: border-box;
}

ol, ul {
 list-style: none;
}