.nav {
	position: fixed;
	height: 70px;
	width: 100%;
	background-color: #DADAD9;
	opacity: 0.9;
	font-weight: bold;
	z-index: 5;
}

.ul {
	display: flex;
	justify-content: center;
	max-width: 910px;
	margin: auto;
	text-transform: uppercase;
	padding: 0;
}

.li {
	margin: 0 25px;
	display: inline;
	line-height: 70px;
	white-space: nowrap;
}

.link {
	text-decoration: none;
	color: #373737;
}

.link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 700px) {
	.nav {
		height: 50px;
		font-size: 16px;
	}
	.li {
		line-height: 50px;
	}
	.logo {
		height: 40px;
		margin-top: 5px;
	}
}

@media screen and (max-width: 550px) {
	.nav {
		display: none;
	}
}